@charset "UTF-8";

		.item-category {
	        text-align: center;
		    margin-left: 10%;
		    padding: 0;
		}
	
   	   .item-category>li {
	        display: inline-block;
	        top: 10px;
	        text-align: center;
	        width: 10%;
	        
        }

        .item-category>li>a {
		     display: block;
		     position: relative;
		     padding-bottom: 19px;
		     margin: 0 auto;
        }

        .item-category>li>a>img {
	         position: relative;
	         text-align: center;
	         width: 70%;
	         border-radius: 50%;
	         padding: 70;
        }

        .item-category>li>a>span {
	          position: absolute;
	          bottom: 0;
	          left: 53%;
	          color: #666;
	          line-height: 1.462em;
	          white-space: nowrap;
	          transform: translate(-50%, 0);
	          font-size: 3pt;
       }
       
       .category-link {
       		padding: 0%;
       }
       
        .grid-container {
			  display: grid;
			  grid-column-gap: 50px;
			  grid-row-gap: 50px;
			  background-color: none;
			  grid-template-columns: 1fr 1fr 1fr 1fr;
	 		  grid-template-rows: 1fr 1fr 1fr;
	 		  margin: 0 auto;
	 		  box-sizing : border-box;
	 	      padding: 2rem 2rem;
	 	     /*  opacity: 30%; */
		}
		
		.grid-item-text {
			float: left;
			position: relative;
			margin-top: 5%;
		}
        
		.grid-item-img * {
			  width: 100%;
			  bottom: 0%;
			  display: block;
			  margin: 0;
		}
		
		.grid-item-name {
			font-size: 11pt;
			font-weight: bold;
		}
		
		.grid-item-price {
			display: block;
			font-size: 10pt;
		}
		
		.grid-item-color {
			font-size: 9pt;
			margin-top: 2%;
		}

		.item-wish-btn {
			border:none;
			float: right;
			margin-top: 4%;
			
		}

        .button {
            cursor: pointer;
        }
		
		/* 클릭 후에도 색상 변경 없도록 함  */
		a, a:visited, a:hover, a:active { 
 	 		color: inherit;
		}
		
        .product-list {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
 
        .product-name {
            margin-top: 20px;
            margin-bottom: 4px;
        }
        
        .product-filter {
      		display:inline;
       		text-align: center;
        }
   
   		.filter-row {
 			box-sizing: border-box;
		}
		
		/* Create four equal columns that floats next to each other */
		.filter-column {
			float: left;
			width: 25%;
			padding: 0 2%;
			height: auto;
			border: 1px gray solid;
		  
		}
		
		/* Clear floats after the columns */
		.filter-row:after {
		  content: "";
		  display: table;
		  clear: both;
		}
		
		/* button#heart:hover {
		  background: tomato; 
		} */
		
		/* footer-navbar 하단메뉴바 */
	    
	    .footer-navbar {
	    	 width: 20%;
	    	 height: auto;
	    	 background: #fff;
		     border-top: 1px solid #a1a1a1;
		     border-left: 1px solid #a1a1a1;
	    }
   	
	    .container-fluid {
	   		clear:both;
	 	    border: 1px black green;
	    	margin-top: 1%;
	    	text-align: center; 
	    	padding: 0;
	    }
	    
	    .footer-bar__btn {
	    	float: right; 
	    	cursor: pointer;
	    	margin-top: 4%;
	    	margin-bottom: 4%; 
	    	margin-right: 15%; 
	    	font-size: 11pt;
	    	font-weight: bold;

	    }
